<mat-card class="rest-card">
  <mat-card-header>
    <mat-card-title>{{restaurant.name | uppercase}}</mat-card-title>
    <mat-card-subtitle *ngIf="restaurant.phone || restaurant.website">
      <span *ngIf="restaurant.phone"> t: <a href="tel:{{restaurant.phone}}">{{restaurant.phone}}</a></span>

      <span *ngIf="restaurant.website"> w: <a href="{{restaurant.website}}" target="_blank">{{restaurant.name | lowercase}}</a></span>

    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <span *ngIf="restaurant.location"><p>a: {{restaurant.location.streetNumber}}
      <span *ngIf="restaurant.location.apartment">{{restaurant.location.apartment}}, </span> {{restaurant.location.streetName}}
      <span *ngIf="restaurant.location.city"><br>{{restaurant.location.city}}, </span>
    {{restaurant.location.province}} {{restaurant.location.postalCode}}
      <span *ngIf="restaurant.location.country"><br>{{restaurant.location.country}}</span></p></span>
  Rated: {{restaurant.rating}}
  </mat-card-content>
</mat-card>
